@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}
.main {
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 40rem;
    height: 30rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.75rem;
    overflow: hidden;
    position: relative;
}
.left-side {
    height: 100%;
    width: 50%;
    object-fit: cover;
}
.left-side-img {
    height: 100%;
}
.right-side {
    height: 100%;
    top: 0;
    left: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
}
.title {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.25rem;
    font-size: 0.8rem;
    padding-right: 0;
    color: hsl(228, 12%, 48%);
    text-transform: uppercase;
    font-weight: 500;
}
.title-name {
    font-family: "Fraunces", serif;
    font-size: 2rem;
    text-transform: capitalize;
    width: 13rem;
}
.description {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: hsl(228, 12%, 48%);
}
.price {
    font-family: "Fraunces", serif;
    font-size: 2.3rem;
    display: flex;
    align-items: center;
    color: hsl(158, 36%, 37%);
}
.last-price {
    font-family: "Montserrat", sans-serif;
    text-decoration: line-through;
    padding: 1rem;
    color: hsl(228, 12%, 48%);
}
.btn {
    padding: 0.75rem 2rem;
    border: none;
    background-color: hsl(158, 36%, 37%);
    border-radius: 0.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
.btn:hover {
    background-color: hsl(212, 21%, 14%);
}

@media only screen and (max-width: 600px) {
    .card {
        width: 23rem;
        height: 40rem;
    }
    .left-side {
        height: 40%;
        width: 100%;
    }
    .left-side-img {
        width: 100%;
        object-fit: cover;
    }
    .right-side {
        top: 40%;
        height: 60%;
        left: 0;
    }
    .title-name {
        width: 100%;
    }
}
